/* nav bar */

.apb-logo img {
    margin-right: 1rem;
    transform: none;
    padding-left: 0;
}
header {
    background: #ccdbfd;
    padding: 1rem 4%;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 1);
}





.contact_us {
    margin: 0 4%;
}

.container {
    margin: 8% 0;
    /* width: 100vw;
    height: 90vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.card {
    height: 600px;
    background-color: #ccdbfd;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #012a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.left {
    width: 25vw;
    overflow: hidden;
    border-radius: 5px;
}

.left img {
   
    width: inherit;
    /* object-fit: cover; */
}

.img-1{
    height: 550px;
}

.img-2{
    display: none;
}

.right .contact {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.form,
.address {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
}

.form input,
textarea {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #013a63;
    padding: 10px 0;
    margin: 5px 0;
}

.usersubmit input {
    background-color: #012a4a;
    color: #ccdbfd;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: min-content;
    padding: 15px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

.usersubmit input:hover {
    background-color: #014f86;
} 



@media screen and (max-width: 700px) {
    .card {
        flex-direction: column;
        height: 400px;
    }
    .img-1{
        display: none;
    }
    .img-2{
        display: inherit;
    }

    .left {
        width: 60vw;
        height: 40vh;
    }
}
/*  
@media screen and (max-width: 350px) {
    .container {
        overflow: hidden;
    }

    .left {
        height: 20vh;
    }

    .contact {
        flex-direction: column;
    }
} */